.pokemon-card {
    padding: 1em;
    width: 25%;
    background: #009fe3;
}
.pokemon-card__content {
    display: flex;
    margin: auto;
    column-gap: 1.5em;
}
.pokemon-card__image {
    margin: auto;
}

.pokemon-card__name, .pokemon-card__abilities, .pokemon-card__categories {
    text-transform: capitalize;
    padding: 0px 20px 20px 0px;
}

.pokemon-card__info {
    margin: auto;
}

p, h1, li {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.pokemon-card__link {
    color: white;
    padding: 0.5rem;
    background: rgb(53, 175, 22);
    border: white solid;
}

.pokemon-card__link:hover {
    background: rgb(255, 177, 8);
}
