.pokemon-details__wrapper {
    margin: auto;
    width: 50%;
    background: #009fe3;
    padding: 2em;
}

.pokemon-details__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-details__name {
    text-transform: capitalize;
}

.pokemon-details__list {
    list-style-type: none;
    border: solid 1px;
    padding: 1em;
}

.pokemon-details__list li {
    padding: 0.5em;
    text-align: center;
}
.description {
    font-style: oblique;
}

.go-back {
    color: white;
    cursor: pointer;
    margin: auto;
    padding: 0.5rem 1rem;
    background: rgb(53, 175, 22);
    border: white solid;
}

.go-back:hover {
    background: rgb(255, 177, 8);
}
