.pokemon-card {
    display: flex;
    background: #009fe3;
    width: 20%;
}
.pokemon-card__content {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.pokemon-card__image {
    margin: auto;
}